<!-- 
Name : Dojo Survey aasigement ..
Description :this will show the survey form and the user can fill the data 
but we add validate function to be sure to fill all required data
Author by :Rahma Fares-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Submission</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_form.css') }}">
</head>

<body>
    <div class="container">
        <form name="myForm" action="/result" method="POST" onsubmit="return validateForm()">
            <div class="Form-group">
                <div>
                    <label for="name">Your Name:</label>
                    <input type="text" name="First_name" placeholder="Your First Name...">
                </div>
                <div>
                    <span>Gender Identity:</span>
                    <input type="radio" name="Gender" value="Male" id="Male">
                    <label for="Male">Male</label>
                    <input type="radio" name="Gender" value="Female" id="Female">
                    <label for="Female">Female</label>
                </div>
                <div>
                    <label for="Dojo Location">Dojo Location:</label>
                    <select name="Dojo Location">
                        <option value="San Jose">San Jose</option>
                        <option value="Oakland">Oakland</option>
                        <option value="Burbank">Burbank</option>
                        <option value="Palestine">Palestine</option>
                    </select>
                </div>
                <div>
                    <label for="Favourite Language"> Favourite Language :</label><br>
                    <input type="checkbox" name="Python" id="Python" value="Python">
                    <label> Python</label>
                </div>
                <div>
                    <input type="checkbox" name="CCharp" id="CCharp" value="CCharp">
                    <label> CCharp</label>
                </div>
                <div>
                    <input type="checkbox" name="Java" id="Java" value="Java">
                    <label for="Java">Java</label>
                </div>
                <div class="commentArea">
                    <label for="comment">Comment (Optional):</label>
                    <div> <textarea name="comment" cols="80" rows="4"></textarea></div>
                </div>
                <div>
                    <button class="submitButton" type="submit">Button</button>
                </div>
            </div>
        </form>
        
        <script type="text/javascript" src="{{ url_for('static', filename='js/javascript.js') }}"></script>
    </body>

</html>